:host {
  display: block;
  position: relative;
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing-text {
  display: inline-block;
  border-right: 2px solid transparent;
}
