<app-section-base title="Experiências" sectionId="experience">
  <div class="timeline-center">
    <div
      *ngFor="let experiente of experienteList; let i = index"
      class="timeline-item"
      [ngClass]="{ left: i % 2 === 0, right: i % 2 !== 0 }"
    >
      <div class="content">
        <span class="period">
          {{ experiente.startYear }}
          {{
            experiente.endYear ? " – " + experiente.endYear : " – Atualmente"
          }}
        </span>

        <h3>
          {{ experiente.jobTitle }}
        </h3>

        <p class="institution">
          {{ experiente.company }}
        </p>

        <p class="description">
          {{ experiente.description }}
        </p>

        <div class="technologies">
          <span *ngFor="let tech of experiente.technologies" class="tech-badge">
            {{ tech.technology }}
          </span>
        </div>
      </div>
    </div>
  </div>
</app-section-base>
