<header class="py-4">
  <app-structure>
    <div class="flex justify-between items-center">
      <a
        href="https://github.com/JoaoSBarbosa"
        target="_blank"
        rel="noopener noreferrer"
        title="Acessar gitbub"
      >
        <img
          src="assets/images/logo.svg"
          alt="GitHub Profile"
          class="w-20 h-20 text-gray-300 hover:text-galaxy-accent transition"
        />
      </a>

      <nav class="space-x-8 text-gray-300 text-xl">
        <a href="#education" class="hover:text-galaxy-accent transition"
          >Educação</a
        >
        <a href="#experience" class="hover:text-galaxy-accent transition"
          >Experiência</a
        >
        <a href="#technologies" class="hover:text-galaxy-accent transition"
          >Tecnologias</a
        >
        <a href="#projects" class="hover:text-galaxy-accent transition"
          >Projetos</a
        >
        <a href="#contact" class="hover:text-galaxy-accent transition"
          >Contato</a
        >
      </nav>
    </div>
  </app-structure>
</header>
