@import "variables";

.header {
  padding: 1rem 0; // py-4

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

    a.logo {
      display: inline-block;

      img {
        width: 5rem; // w-20
        height: 5rem; // h-20
      }
    }

    nav {
      display: flex;
      gap: 1.5rem; // space-x-6
      font-size: 1.5rem; // text-2xl
      color: #d1d5db; // text-gray-300

      a.nav-link {
        position: relative;
        padding: 0.25rem 0.75rem; // px-3 py-1
        cursor: pointer;
        color: inherit;
        transition: color 0.3s ease;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: rgba($purple-custom, 0.5);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          color: $purple-custom;

          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
