<header class="header">
  <app-structure>
    <div class="header__inner">
      <a
        href="https://github.com/JoaoSBarbosa"
        target="_blank"
        rel="noopener noreferrer"
        title="Acessar GitHub"
        class="logo"
      >
        <img src="assets/images/logo-3.svg" alt="GitHub Profile" />
      </a>

      <nav>
        <a *ngFor="let link of links" href="{{ link.href }}" class="nav-link">
          {{ link.label }}
        </a>
      </nav>
    </div>
  </app-structure>
</header>
